
<header id="header" class="fixed-top" style="top:0;">
    <div class="container d-flex align-items-center">

      <h1 class="logo "><a href="{% url 'index' %}">DocSab</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0 me-auto">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'index' %}">Home</a></li>
          <li><a class="nav-link scrollto" href=" {% url 'about' %} ">About</a></li>
          <li><a class="nav-link scrollto" href=" {% url 'all_hospitals' %} ">Hospitals</a></li>
          <li><a class="nav-link scrollto" href=" {% url 'all_doctors' %} ">Doctors</a></li>
          {% comment %} <li><a class="nav-link scrollto" href=" {% url 'all_doctors' %} ">Appointment</a></li> {% endcomment %}
          
          


          <li><a class="nav-link scrollto " href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      

    </div>
  </header><!-- End Header -->

