*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.booking-left{
    display: flex;
    flex-direction: column;

}
.left-booking-for{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.left-booking-for-main-heading{
    font-family: cursive;
}
.left-patient-info{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.left-patient-info label{
    padding: 20px 0 10px 0;
    font-family: cursive;
    font-size: 1em;
}
.left-patient-info input{
    padding: 20px;
    border-radius: 5px;
    outline: none;
}
.left-patient-info input::placeholder{
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#left-patient-info-caution{
    font-size: 1.1em;
    color: brown;
    margin-top: 0;
    padding-top: 10px;
}
.left-payment-info{
    display: flex;
    flex-direction: column;
}
.left-payment-info-payment-opt{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color:  #ADA996;
    padding: 10px;
    margin-top: 20px;
}
.left-payment-info-payment-opt label{
    font-size: 1.1em;
    font-weight: 800;

}
.left-payment-info-payment-opt input[type='radio']{
    accent-color:#f6ebb7;
    width: 25px;
    height: 25px;
    opacity: 1;
}

.booking-right{
    display: flex;
    flex-direction: column;   
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px grey;
}
.right-img-container-fiiter{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #f6ebb7;
    margin: 10px 20px;
}
.right-img-container-fiiter img{
    width: 100%;
    height: 100%;
}
.right-doctor-related-information{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-doctor-related-information h3{
    font-size: 1rem;
}

.right-doctor-time-bton{
    display: flex;
    justify-content: center;
}
.right-doctor-time-bton-style{
    border-radius: 20px;
    background-color: #f5dc5e;
    padding: 10px 30px;
    margin-top: 10px;
}
.right-doctor-time-bton-style:hover{
    background-color: #edcd2c;
    cursor: pointer;
}
.horizontal_line{
    border-bottom: 2px solid #fffcdc;
    width: 100%;
    opacity: 0.8;
    margin: 10px 0px;
}
